<body>
    <main>
      <!--<div class="container" >

        <section class="section" >
            <div class="row" >
              <div class="izquierda" style="margin: 0; ">
      
                <div class="card" style="background-color: #C4D79B;">
                  <div class="card-body">
                    <h5 class="card-title">Horizontal Form</h5>
                  </div>
                </div>
      
              </div>
      
              <div class="derecha" style="margin: 0;">
      
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">Vertical Form</h5>
                  </div>
                </div>
      
                
      
              </div>
            </div>
          </section>
  
      </div>-->

      <div class="contenedor" style="display: flex; flex-direction: row; ">
        <div class="izquierda" style="background-color: #C4D79B; height: 721px; width: 950px; text-align: center;">
            <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="../../assets/img/logo.png" alt="" >
                </a>
            </div>
            <div style="margin: 40px 200px; ">
                <h3 style="line-height: 40px;">MediForm es una plataforma para el mejoramiento continuo de los centros de salud del Ecuador</h3>
            </div>
            <div class="d-flex justify-content-center py-4">
                <img src="../../../assets/img/Shiny Happy Doctor Prescription.png" alt="" style="width: 400px;">
          </div>     
        </div>
        
        <div class="derecha">
          <form novalidate [formGroup]="forms" (ngSubmit)="seleccionar()">
            <div class="col-sm-12" style="margin: 200px 50px 50px 50px; width: 400px;">
              <label for="" style="margin-bottom: 10px;">Para ingresar empieza:</label>
              <select class="form-select" aria-label="Default select example"
               style="border-radius: 20px; font-size: 20px; background-color: #C4D79B;" formControlName="NombreProvincia">
               
               <option *ngFor="let pr of provincia" [value]="pr.id" >{{pr.NombreProvincia}}</option>
              </select>
            </div>

            <div class="col-sm-12" style="margin: 0px 0px 0px 50px; width: 400px;">
              <select class="form-select" aria-label="Default select example" style="border-radius: 20px; font-size: 20px; background-color: #C4D79B;" 
              formControlName="NombreCiudad">
                
                <option *ngFor="let city of ciudad " [value]="city.id" >{{city.NombreCiudad}}</option>
              </select>
            </div>

            <div class="col-sm-12"  style="margin: 50px 50px 0px 50px; width: 400px;">

              <select class="form-select" aria-label="Default select example"
              style="border-radius: 20px; font-size: 20px; background-color: #C4D79B;" formControlName="NombreHospital">
                
               <option *ngFor="let hosp of hospitales " [value]="hosp.id" >{{hosp.NombreHospital}}</option>
              </select>
            </div>
            

            <button type="submit" style="float: right; margin-top: 200px; border-width: 0px; background-color: #FFF;">siguiente ></button>
          </form>
        </div>
      </div>
     
      
    </main>
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  
  </body>

  <script>
    document.getElementById('body').classList.remove('card-mb-3');
  </script>
  
  