<body>

    <!-- ======= Header ======= -->
    <app-header></app-header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <app-navbar></app-navbar>

    <main id="main" class="main" style="background-color: white;">

        <div class="pagetitle">
            <h1>MediForm</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">MediForm</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="card mb-3" style="background-color: rgba(255, 255, 255, 0.418);">

            <div class="card-body">

                <form class="row g-3 needs-validation" novalidate style="font-size: 16px;">

                    <label class="col-sm-12 col-form-label" style=" border-bottom: 2px solid #C4D79B;
                text-align: center; margin-bottom: 10px; color: #444e6a;"> <b> INSTRUCTIVO <br>
                            APLICATIVOO DE CICLOS RÁPIDOS (CR) PEVA PARA EL MEJORAMIENTO CONTINUO DE LA
                            CALIDAD</b></label>

                    <label class="col-sm-12 col-form-label" style=" border-bottom: 2px solid #C4D79B;
                text-align: justify; margin-bottom: 10px; color: #444e6a;">
                        <p><strong>En cumpliento con el Manual de Atención en Salud (MAIS), el mismo que dispone lo
                                siquiente:</strong>
                            La red pública integral de salud conformará los equipos multidiciplinarios que desarrollen
                            ciclos de mejoramiento continuo de la calidad ubicados en todos los niveles de atención,
                            y de acuerdo a las atribuciones y responsabilidades de la Dirección Naciona de Calidad de
                            los Servicios de Salud en su literal c. : Planificar e impulsar las acciones y procesos de
                            mejoramiento continuo de la calidad en los servicios de salud del Ministerio de Salud
                            Pública,
                            se presenta la siguiente herramienta con el objetivo de orientar la implementación adecuada
                            del Mejoramiento Continuo de la Calidad, a través de la introducción de intervenciones y/o
                            cambios en los procesos de la atención, de manera sistematizada en Ciclos Rápidos para
                            mejorar
                            la calidad de la atención asistencial.</p>
                    </label>

                    <label class="col-sm-12 col-form-label" style=" border-bottom: 2px solid #C4D79B;
                text-align: justify; margin-bottom: 10px; color: #444e6a;">
                        <p><strong>PRINCIPIOS DEL MEJORAMIENTO CONTINUO DE LA CALIDAD: </strong></p>

                        <ol>
                            <b>1.</b> Centrarse en el paciente/usuario
                        </ol>
                        <ol>
                            <b>2.</b> Análisis de procesos y sistemas de atención
                        </ol>
                        <ol>
                            <b>3.</b> Trabajo en Equipo para hacer el Ciclo Rápido
                        </ol>
                        <ol>
                            <b>4.</b> Implementar cambios y uso de datos
                        </ol>
                    </label>

                    <label class="col-sm-12 col-form-label" style=" border-bottom: 2px solid #C4D79B;
                text-align: justify; margin-bottom: 10px; color: #444e6a;">
                        <p><strong>PASOS A REALIZARSE: </strong></p>
                        <ol>
                            <b>1</b>. Conformar un Equipo de Mejoramiento de la Calidad (EMC): Se refiere a un grupo
                            interdisciplinario seleccionado del conjunto de profesionales del servicio al que se le
                            responsabiliza la gestión de la calidad de la atención en dicho servicio, lo cual implica
                            que deben ser un grupo de 5 a 8 personas en aquellos servicios en los que hay un buen número
                            de integrantes. En aquellos establecimientos en los que la cantidad de personal de todo el
                            establecimiento es muy reducida, todos se constituyen en el EMC del Establecimiento.
                            Conformado el equipo se debe nombrar un coordinador técnico o responsable.<br>
                            <br><strong>Las funciones o responsabilidades de un EMC son:</strong><br><br>
                            <ol><b>a)</b><em> Medir indicadores </em></ol>
                            <ol><b>b)</b><em> Procesar datos </em></ol>
                            <ol><b>c)</b><em> Analizar resultado, identificar brechas, identificar las causas </em></ol>
                        </ol>
                        <ol>
                            <b>2.</b> Una vez que se conocen los resultados y se han identificado las brechas de cumplimiento,
                            es fundamental que se inicie un proceso de intervención tendiente a corregir y mejorar los
                            procesos asistenciales, administrativos y de gestión involucrados, cuyo resultado final sea
                            un Plan de acción contextualizado, argumentado, factible de ser cumpido, monitoreado,
                            evaluado y que, sobre todo, genere aprendizajes valiosos que puedan servir a si mismos y a
                            otros grupos de trabajo.<br><br>

                            <strong>Para esto se considera 4 pasos:</strong><br><br>
                            <ol> <b>1)</b> <em> Identificar</em></ol>
                            <ol><b>2)</b> <em> Analizar</em></ol>
                            <ol><b>3)</b> <em> Desarrollar</em></ol>
                            <ol><b>4)</b> <em> Probar e implementar</em></ol><br>
                            Este último, que a su vez contiene los subcomponentes de Planificar, Ejecutar,
                            Verificar y Actuar. Cada uno de estos pasos serán explicados a través de comentarios en las
                            casillas correspondientes.
                        </ol>
                        <ol>
                            <b>3.</b> El EMC de cada servicio debe elaborar, documentar y reportar al Jefe inmediato, al menos
                            un Ciclo Rápido (CR) de mejora de la Calidad, por trismestre según el siguiente formato:
                        </ol>
                        <sub>* Se ha tomado como punto de partida el modelo de Mejoramiento Continuo de la calidad
                            deWilliam Edwar Deming; Health Care Institute y Center for Human Service - Quality Assurance
                            Project.</sub>

                    </label>

                    <div class="row mb-3">
                        <div class="col-sm-1 " style="margin-left: 800px; float: right;">
                          <button onclick="location.href='form.component.html'"  style="background-color: transparent ;border-color:transparent; color: #444e6a; ;">
                            <a href="../form/" style="text-decoration: none; color: #444e6a; ">Siguiente</a></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </main><!-- End #main -->

</body>
<app-footer></app-footer>