<body>
    <main>
      <img src="../../assets/img/Mask.png" alt="" style="position: absolute; z-index: 0; width: 99vw;">
      <div class="container" >  
  
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
  
                  
                
  
                <div class="card mb-3" style="background-color: rgba(255, 255, 255, 0.418);">
  
                  <div class="card-body" >

                    <div class="d-flex justify-content-center py-4">
                      <a href="index.html" class="logo d-flex align-items-center w-auto">
                        <img src="../../assets/img/logo.png" alt="" >
                      </a>
                    </div>
  
                    <form class="row g-3 needs-validation" novalidate [formGroup]="loginUsuario" (ngSubmit)="login()">
                      
  
                      <div class="col-12">
                        <label for="UsuarioIngreso" class="form-label">Email</label>
                        <div class="input-group has-validation">
                          <input type="email" name="UsuarioIngreso" class="form-control" id="UsuarioIngreso" placeholder="Ingresa tu Email" required formControlName="UsuarioIngreso">
                          <div class="invalid-feedback">Porfavir ingrese su nombre de usuario</div>

                        </div>
                      </div>
  
                      <div class="col-12">
                        <label for="ContrasenaUsuario" class="form-label">Contraseña</label>
                        <input type="password" name="ContrasenaUsuario" class="form-control" id="ContrasenaUsuario" placeholder="Ingresa tu contraseña" required formControlName="ContrasenaUsuario">
                        <div class="invalid-feedback">Porfavor ingrese su contraseña</div>
                      </div>
  
                      <!--
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                          <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                      </div>-->
                      <div class="col-12">
                        <button class="btn btn-primary w-100 btn-login" style="--bs-btn-border-radius: 5px" type="submit">Ingresar</button>
                      </div>
                      
                    </form>
                    <div class="col-12">
                      <p class="small mb-0">No tienes una Cuenta?<a href="../register">Registrate</a></p>
                    </div>
  
                  </div>
                </div>
  
              </div>
            </div>
          </div>
  
        </section>
  
      </div>
    </main><!-- End #main -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  
  </body>

  <script>
    document.getElementById('body').classList.remove('card-mb-3');
  </script>
  
  