<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- JS de jQuery y Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0."></script>

</head>

<body>

    <!-- ======= Header ======= -->
    <app-header></app-header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <app-navbar></app-navbar>

    <main id="main" class="main" style="background-color: white;">

        <div class="pagetitle">
            <h1>MediForm</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">MediForm</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="card mb-3" style="background-color: rgba(255, 255, 255, 0.418);">

            <div class="card-body">

                <form class="row g-3 needs-validation" novalidate style="font-size: 16px;">

                    <div class="card mb-3">
                        <div class="d-flex flex-row mb-3" style="margin-top: 3%;">
                            <div class="p-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                    <path
                                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                                </svg></div>
                            <div class="p-2" style="margin-top: -1%;"><em>
                                    <p style="font-size:30px;">Febrero</p>
                                </em></div>
                            <div class="p-2"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                    <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                </svg></div>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Lunes</th>
                                <th>Martes</th>
                                <th>Miércoles</th>
                                <th>Jueves</th>
                                <th>Viernes</th>
                                <th>Sábado</th>
                                <th>Domingo</th>
                                <!-- Otros días de la semana aquí -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td>2
                                    <div>
                                        <p><em>Actividad 1</em></p>
                                    </div>
                                </td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <!-- Otros días del mes aquí -->
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17
                                    <div>
                                        <p><em>Actividad 2</em></p>
                                    </div>
                                </td>
                                <td>18</td>
                                <td>19</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>28</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tr>
                            <!-- Otras filas aquí -->
                        </tbody>
                    </table>



                </form>
            </div>
        </div>

    </main><!-- End #main -->

</body>
<app-footer></app-footer>

</html>