<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="../form">
                <i class="bi bi-menu-button-wide"></i><span>Nuevo formulario</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Avances</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Ver calendario</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Historial de Formularios</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
        </li><!-- End Forms Nav -->
    </ul>

</aside><!-- End Sidebar-->