

<body>

  <!-- ======= Header ======= -->
  <app-header></app-header>
  <!-- End Header -->

  <app-navbar></app-navbar>
  
  <main id="main" class="main" style="background-color: #f6f9ff;">

    <div class="pagetitle" style="">
      <h1>MediForm</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">MediForm</li>
        </ol>
      </nav>
    </div><!-- End Page Title --> 
    <div class="card mb-3" style="background-color: rgba(255, 255, 255, 0.418); color: #012970; text-align: center; font-size: 30px; font-family: Open Sans">
      <b style="padding: 5px;">BIENVENIDO</b>  
      <em>INSTRUCTIVO <br>
      Aplicativo de ciclos rapidos(CR) PEVA para el mejoramiento continuo de la calidad</em> 
      <img src="assets/img/home.jpeg" alt="" style="height: 300px; width: 900px; text-align: center; margin-left: 150px; padding-bottom: 30px;">
    </div> 

  </main><!-- End #main -->

  <img src="C:\Users\Usuario-Dell\Desktop\salon.jpg" alt="">

</body>

<app-footer></app-footer>


