<body>
  <main>
    <img src="../../assets/img/Mask.png" alt="" style="position: absolute; z-index: 0; width: 99vw;">
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3" style="background-color: rgba(255, 255, 255, 0.418);">

                <div class="card-body">

                  <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                      <img src="../../assets/img/logo.png" alt="" >
                    </a>
                  </div>

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Crear una Cueneta</h5>
                    <p class="text-center small">Ingrese sus datos</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate (ngSubmit)="registrar()" [formGroup]="registrarUsuario">

                    

                    <div class="col-12">
                      <label for="NombreUsuario" class="form-label">Nombre</label>
                      <div class="input-group has-validation">
                        <input type="text" name="NombreUsuario" class="form-control" id="NombreUsuario" required formControlName="NombreUsuario">
                        <div class="invalid-feedback">Please choose a username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="ApellidoUsuario" class="form-label">Apellido</label>
                      <div class="input-group has-validation">
                        <input type="text" name="ApellidoUsuario" class="form-control" id="ApellidoUsuario" required formControlName="ApellidoUsuario">
                        <div class="invalid-feedback">Please choose a username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="CelularUsuario" class="form-label">Celular</label>
                      <div class="input-group has-validation">
                        <input type="number" name="CelularUsuario" class="form-control" id="CelularUsuario" required formControlName="CelularUsuario">
                        <div class="invalid-feedback">Please choose a username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="UsuarioIngreso" class="form-label">Email</label>
                      <input type="email" name="UsuarioIngreso" class="form-control" id="UsuarioIngreso" required formControlName="UsuarioIngreso">
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <label for="ContrasenaUsuario" class="form-label">Contraseña</label>
                      <input type="password" name="ContrasenaUsuario" class="form-control" id="ContrasenaUsuario" required formControlName="ContrasenaUsuario">
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      
                      <button class="btn btn-primary w-100 btn-register" type="submit">Registrarse</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="../login">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>

<script>
  document.getElementById('body').classList.remove('card-mb-3');
</script>

